# Database
DATABASE_URL=
PGHOST=
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=

# Session
SESSION_SECRET=

# Discord OAuth & Bot
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_BOT_TOKEN=

# Server Config
PORT=3000
